In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
tour_df = pd.read_csv('tour.csv', encoding = 'cp949')

In [3]:
tour_group = tour_df.groupby('지역명')

In [6]:
len(tour_group.groups)

17

In [9]:
tour_group.count()

          제목  카테고리1  카테고리2  카테고리3  시군구명   요약
지역명
강원도      745    745    744    745   744  745
경기도      790    790    790    789   789  790
경상남도     827    827    827    827   827  816
경상북도     964    964    964    964   964  956
광주       100    100    100    100   100  100
대구       155    155    155    155   155  155
대전        70     70     70     70    70   70
부산       144    144    144    144   144  144
서울       379    379    379    379   378  378
세종특별자치시   25     25     25     25    24   25
울산        94     94     94     94    94   94
인천       203    203    203    203   203  203
전라남도     855    855    854    855   855  853
전라북도     805    805    805    805   805  804
제주도      287    287    287    287   286  287
충청남도     608    608    608    608   608  607
충청북도     563    563    562    562   562  563

In [18]:
jeju = tour_group.get_group('제주도')

In [23]:
jeju_nature = jeju[jeju['카테고리1'] == '자연']

In [25]:
jeju_nature.count()

제목       165
카테고리1    165
카테고리2    165
카테고리3    165
지역명      165
시군구명     165
요약       165
dtype: int64