In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
tour_df = pd.read_csv('tour.csv', encoding = 'cp949')
tour_df.head()

,제목,카테고리1,카테고리2,카테고리3,지역명,시군구명,요약
0,덕수궁,인문(문화/예술/역사),역사관광지,고궁,서울,중구,사적 제124호의 덕수궁은 본디 왕궁이 아니었다. 원래 성종의 형인 월산대군(145...
1,서울 운현궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,운현궁은 현재 종로구 운니동에 위치한 사적 제 257호의 문화유산이다. 운현궁은 경...
2,경희궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,"사적 제271호인 경희궁은 조선을 개국한 태조 이성계가 살았던 곳으로, 새문안 대궐..."
3,경복궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,경복궁은 1395년 태조 이성계에 의해서 새로운 조선왕조의 법궁으로 지어졌다. 경복...
4,창경궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,창경궁은 세종대왕이 상왕인 태종을 모시고자 1418년에 지은 수강궁이 그 전신이다....

In [3]:
tour_group = tour_df.groupby('지역명')
len(tour_group.groups)

17

In [4]:
tour_group.count()

          제목  카테고리1  카테고리2  카테고리3  시군구명   요약
지역명
강원도      745    745    744    745   744  745
경기도      790    790    790    789   789  790
경상남도     827    827    827    827   827  816
경상북도     964    964    964    964   964  956
광주       100    100    100    100   100  100
대구       155    155    155    155   155  155
대전        70     70     70     70    70   70
부산       144    144    144    144   144  144
서울       379    379    379    379   378  378
세종특별자치시   25     25     25     25    24   25
울산        94     94     94     94    94   94
인천       203    203    203    203   203  203
전라남도     855    855    854    855   855  853
전라북도     805    805    805    805   805  804
제주도      287    287    287    287   286  287
충청남도     608    608    608    608   608  607
충청북도     563    563    562    562   562  563

In [5]:
jeju = tour_group.get_group('제주도')

In [6]:
jeju_nature = jeju[jeju['카테고리1'] == '자연']
jeju_nature.count()

제목       165
카테고리1    165
카테고리2    165
카테고리3    165
지역명      165
시군구명     165
요약       165
dtype: int64

In [7]:
from lxml import html

In [8]:
AGENT = 'Mozilla/5.0 (compatible, MSIE 11, Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'
REFERER = 'http://clien.net'

In [9]:
import requests

In [10]:
session = requests.Session()
session.headers.update({'User-Agent': AGENT, 'Referer': REFERER})
url = 'http://www.weatheri.co.kr/forecast/forecast04.php'
resp = session.get(url)
resp.encoding = 'utf-8'
elem = html.fromstring(resp.text)
whether_table = elem.cssselect('table')[8].cssselect('table tr')
areas = []
dates = []
whethers_of_all_area = []

In [11]:
for i, tr in enumerate(whether_table):
    tds = tr.cssselect('td')
    if i == 0:
        for i, td in enumerate(tds):
            if i > 0:
                dates.append(td.text_content().strip())
    if len(tds[0].cssselect('strong')) == 0:
        continue
    areas.append(tds[0].text_content().strip())
    imgs = tr.cssselect('td img')
    
    whethers = []
    for img in imgs:
        whethers.append(img.get('alt'))
    whethers_of_all_area.append(whethers)

In [12]:
dates

['11일 (수)',
 '12일 (목)',
 '13일 (금)',
 '14일 (토)',
 '15일 (일)',
 '16일 (월)',
 '17일 (화)',
 '18일 (수)',
 '19일 (목)']

In [13]:
from datetime import datetime, date

In [14]:
dates = [datetime.strftime(date.today().replace(day=int(d[:2])), "%Y-%m-%d") for d in dates]

dates

['2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-16',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19']

In [15]:
whethers_of_all_area

[['흐린 후 갬', '구름조금', '흐림', '구름조금', '흐려져 비', '구름많음', '구름조금', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '흐림', '구름조금', '흐려져 비', '구름많음', '구름조금', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '구름많음', '비 후 갬', '구름조금', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '구름많음', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '구름많음', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['구름조금', '구름조금', '구름많음', '차차 흐려짐', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음']]

In [16]:
areas

['서울인천경기',
 '강원영서',
 '강원영동',
 '충북',
 '대전세종충남',
 '전북',
 '광주전남',
 '대구경북',
 '부산울산경남',
 '제주']

In [17]:
del areas[2]

del whethers_of_all_area[2]

In [18]:
areas

['서울인천경기', '강원영서', '충북', '대전세종충남', '전북', '광주전남', '대구경북', '부산울산경남', '제주']

In [19]:
whethers_of_all_area

[['흐린 후 갬', '구름조금', '흐림', '구름조금', '흐려져 비', '구름많음', '구름조금', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '흐림', '구름조금', '흐려져 비', '구름많음', '구름조금', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '구름많음', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '구름많음', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['흐린 후 갬', '구름조금', '구름많음', '구름조금', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음'],
 ['구름조금', '구름조금', '구름많음', '차차 흐려짐', '흐려져 비', '비 후 갬', '구름많음', '구름조금', '구름많음']]

In [20]:
new_areas = []

new_whethers_of_all_area = []

area_map = {
    '경기': '경기도',
    '강원': '강원도',
    '충북': '충청북도',
    '충남': '충청남도',
    '경북': '경상북도',
    '경남': '경상남도',
    '전북': '전라북도',
    '전남': '전라남도',
    '제주': '제주도',
    '세종': '세종특별자치시'
}

In [21]:
for i, area in enumerate(areas):
    split_area = [area[j:j + 2] for j in range(0, len(area), 2)]
    if split_area[0] == '강원':
        del split_area[1]
    for k, area_part in enumerate(split_area):
        if area_part in area_map:
            split_area[k] = area_map[area_part]
    new_areas += split_area
    new_whethers_of_all_area += len(split_area) * [whethers_of_all_area[i]]

In [22]:
new_areas

['서울',
 '인천',
 '경기도',
 '강원도',
 '충청북도',
 '대전',
 '세종특별자치시',
 '충청남도',
 '전라북도',
 '광주',
 '전라남도',
 '대구',
 '경상북도',
 '부산',
 '울산',
 '경상남도',
 '제주도']

In [23]:
areas = new_areas

whethers_of_all_area = new_whethers_of_all_area

whether_df = pd.DataFrame(whethers_of_all_area, columns=dates, index=areas)

In [24]:
whether_df

,2016-05-11,2016-05-12,2016-05-13,2016-05-14,2016-05-15,2016-05-16,2016-05-17,2016-05-18,2016-05-19
서울,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
인천,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
경기도,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
강원도,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
충청북도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,구름많음,구름많음,구름조금,구름많음
대전,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,구름많음,구름많음,구름조금,구름많음
세종특별자치시,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,구름많음,구름많음,구름조금,구름많음
충청남도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,구름많음,구름많음,구름조금,구름많음
전라북도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
광주,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
전라남도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
대구,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
경상북도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
부산,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
울산,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
경상남도,흐린 후 갬,구름조금,구름많음,구름조금,흐려져 비,비 후 갬,구름많음,구름조금,구름많음
제주도,구름조금,구름조금,구름많음,차차 흐려짐,흐려져 비,비 후 갬,구름많음,구름조금,구름많음

In [25]:
tour_df = tour_df.join(whether_df, on='지역명')

tour_df.head()

,제목,카테고리1,카테고리2,카테고리3,지역명,시군구명,요약,2016-05-11,2016-05-12,2016-05-13,2016-05-14,2016-05-15,2016-05-16,2016-05-17,2016-05-18,2016-05-19
0,덕수궁,인문(문화/예술/역사),역사관광지,고궁,서울,중구,사적 제124호의 덕수궁은 본디 왕궁이 아니었다. 원래 성종의 형인 월산대군(145...,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
1,서울 운현궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,운현궁은 현재 종로구 운니동에 위치한 사적 제 257호의 문화유산이다. 운현궁은 경...,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
2,경희궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,"사적 제271호인 경희궁은 조선을 개국한 태조 이성계가 살았던 곳으로, 새문안 대궐...",흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
3,경복궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,경복궁은 1395년 태조 이성계에 의해서 새로운 조선왕조의 법궁으로 지어졌다. 경복...,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음
4,창경궁,인문(문화/예술/역사),역사관광지,고궁,서울,종로구,창경궁은 세종대왕이 상왕인 태종을 모시고자 1418년에 지은 수강궁이 그 전신이다....,흐린 후 갬,구름조금,흐림,구름조금,흐려져 비,구름많음,구름조금,구름조금,구름많음

In [26]:
import datetime

In [27]:
the_day_after_tommorow = datetime.datetime.strftime(datetime.date.today() + datetime.timedelta(days=2), "%Y-%m-%d")
two_day_after_tommorow = datetime.datetime.strftime(datetime.date.today() + datetime.timedelta(days=3), "%Y-%m-%d")
three_day_after_tommorow = datetime.datetime.strftime(datetime.date.today() + datetime.timedelta(days=4), "%Y-%m-%d")
the_day_after_tommorow

'2016-05-11'

In [28]:
tour_df[tour_df[the_day_after_tommorow].str.contains("비")]

Empty DataFrame
Columns: [제목, 카테고리1, 카테고리2, 카테고리3, 지역명, 시군구명, 요약, 2016-05-11, 2016-05-12, 2016-05-13, 2016-05-14, 2016-05-15, 2016-05-16, 2016-05-17, 2016-05-18, 2016-05-19]
Index: []

In [29]:
tour_df[tour_df[two_day_after_tommorow].str.contains('비')]

Empty DataFrame
Columns: [제목, 카테고리1, 카테고리2, 카테고리3, 지역명, 시군구명, 요약, 2016-05-11, 2016-05-12, 2016-05-13, 2016-05-14, 2016-05-15, 2016-05-16, 2016-05-17, 2016-05-18, 2016-05-19]
Index: []

In [30]:
tour_df[tour_df[three_day_after_tommorow].str.contains('비')]

Empty DataFrame
Columns: [제목, 카테고리1, 카테고리2, 카테고리3, 지역명, 시군구명, 요약, 2016-05-11, 2016-05-12, 2016-05-13, 2016-05-14, 2016-05-15, 2016-05-16, 2016-05-17, 2016-05-18, 2016-05-19]
Index: []